
@import 'config.scss';
$randomNumber: random(5);

div{
    border-radius:50%;
    position:absolute;
}

.circle-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zindexStyle $duration-animation forwards;
}

@keyframes zindexStyle {
    0% {
        z-index: 40;
    }
    100% {
        z-index: 1;
    }
}
@keyframes heightt {
    0% {
        z-index: 1;
    }
    30% {
        z-index: 10;
    }
    70% {
        z-index: 40;
    }
    100% {
        z-index: 1;
    }
}


.circle-style {
    border-radius:50%;
    mix-blend-mode: difference;
    
    
    
    /* width: 200px;
    height: 200px; */
    //background-color:#d99445; // Cambiar
    
    //box-shadow: 0px 0px 10px 2px #d99445; // Cambiar
    animation: heightt $duration-animation $animation-presenting forwards;
}

.circle-final-animation {
    width: 50%;
    height: 50%;
    z-index: 4;
}

@keyframes finalAnimation {
    0% {
        transform: rotate(0deg)
                   translate(0px)
                   rotate(0deg);
       }
    50% {
        transform: rotate(360deg)
                   translate(-50px)
                   rotate(-360deg);
       }
    100% {
        transform: rotate(720deg)
                   translate(0px)
                   rotate(-720deg);
       }

}

.circle-shadow {
    overflow: hidden;
    animation: shadowStyleColor 5s infinite;
    width: 100%;
    height: 100%;
}



@keyframes heightt {
    0% {
        width: 10%;
        height: 10%;
        z-index: -7;
    }
    20% {
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 1;
    }
    80% {
        width: 100%;
        height: 100%;
        z-index: 40;
        opacity: 1;
    }
    100% {
        width: 50%;
        height: 50%;
        z-index: 4;
    }
}

.text-container {
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    animation: textContainerMove $duration-animation $animation-presenting forwards;
}

@keyframes textContainerMove {
    0% {
        font-size: 0.5em;
    }
    20% {
        font-size: 1.1em;
    }
    80% {
        font-size: 1.1em;
    }
    100% {
        font-size: 0.5em;
    }
}

.text-container > h1 {
    color: $primary-color;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px 2px 0px 2px;
    
    text-align: center;
    animation: textFormatMove $duration-animation $animation-presenting forwards;
}
.text-container > p {
    margin-bottom: 0px; 
    margin-top: 2px;
    text-align: center;
    color: $primary-color!important;
}
@keyframes textFormatMove {
    0% {
        width: 100%;
    }
    40% {
        width: 90%;
        text-overflow: ellipsis;
    }
    80% {
        width: 90%;
        text-overflow: ellipsis;
    }
    95% {
        width: 100%;
        text-overflow: ellipsis;
    }
}